.metadata/
eclipse-aggregate-gae/war/WEB-INF/classes/
build/appengine-java-sdk-1.9.30/
eclipse-aggregate-mysql/war/WEB-INF/classes/
aggregate-src/target/
eclipse-aggregate-mysql/war/
build/selenium-java-2.45.0/
aggregate-postgres/target/
odk-tables-api/target/
src/main/libs/gdata-src.java-1.47.1/
aggregate-mysql/target/
eclipse-aggregate-gae/war/aggregateui/
eclipse-aggregate-gae/war/WEB-INF/appengine-generated/
odk-gae-unit-settings/target/
odk-mysql-it-settings/target/
odk-mysql-settings/target/
odk-mysql-unit-settings/target/
odk-postgres-it-settings/target/
odk-postgres-settings/target/
eclipse-aggregate-mysql/gwt-unitCache/
odk-gae-unit-settings/target/
odk-postgres-it-settings/target/
odk-mysql-unit-settings/target/
odk-postgres-it-settings/target/
odk-postgres-settings/target/
odk-mysql-settings/target/
odk-mysql-it-settings/target/
build/chromedriver_win32-2.20.zip
build/chromedriver_win32-2.20/
build/chromedriver_mac32-2.20/
eclipse-aggregate-mysql/war/
eclipse-aggregate-mysql/gwt-unitCache/
mysql-unit-tests/target/
gae-unit-tests/target/
postgres-unit-tests/target/
aggregate-gae/target/
aggregate-gae/src/
bitrock-installer/target/
build/appengine-java-sdk-1.9.34.zip
build/appengine-java-sdk-1.9.34/
war-base/WEB-INF/lib/odk-gae-settings-latest.jar
eclipse-default/WebContent/WEB-INF/deploy/
eclipse-default/WebContent/aggregateui/
eclipse-default/gwt-unitCache/
eclipse-default/WebContent/WEB-INF/lib/odk-gae-settings-latest.jar
eclipse-n-background/WebContent/WEB-INF/lib/odk-gae-settings-latest.jar
eclipse-tomcat6/WebContent/WEB-INF/deploy/
eclipse-tomcat6/WebContent/aggregateui/
eclipse-tomcat6/gwt-unitCache/
eclipse-tomcat6/WebContent/WEB-INF/lib/odk-settings-latest.jar
aggregate-gae-n-background/target/
aggregate-gae-default/target/
aggregate-gae-n-background/src/main/
aggregate-gae-default/src/main/
bitrock-installer/files/conf/
bitrock-installer/files/ODKAggregate.war
bitrock-installer/*.war

