.metadata/
eclipse-aggregate-gae/war/WEB-INF/classes/
build/appengine-java-sdk-1.9.30/
eclipse-aggregate-mysql/war/WEB-INF/classes/
aggregate-src/target/
eclipse-aggregate-mysql/war/
build/selenium-java-2.45.0/
aggregate-postgres/target/
odk-tables-api/target/
src/main/libs/gdata-src.java-1.47.1/
aggregate-mysql/target/
eclipse-aggregate-gae/war/aggregateui/
eclipse-aggregate-gae/war/WEB-INF/appengine-generated/
eclipse-aggregate-gae/gwt-unitCache/
odk-gae-it-settings/target/
odk-gae-settings/target/
eclipse-aggregate-mysql/gwt-unitCache/
odk-gae-unit-settings/target/
odk-postgres-it-settings/target/
odk-mysql-unit-settings/target/
odk-postgres-settings/target/
odk-mysql-settings/target/
odk-mysql-it-settings/target/
odk-postgres-unit-settings/target/
build/chromedriver_mac32-2.20.zip
build/appengine-java-sdk-1.9.30.zip
aggregate-mysql/src/
aggregate-postgres/src/
build/chromedriver_mac32-2.20/
.recommenders/
build/chromedriver_win32-2.20.zip
build/selenium-java-2.45.0.zip
eclipse-aggregate-gae/war/WEB-INF/lib/appengine-api-1.0-sdk-1.9.30.jar
eclipse-aggregate-gae/war/WEB-INF/lib/appengine-api-labs.jar
eclipse-aggregate-gae/war/WEB-INF/lib/appengine-endpoints-deps.jar
eclipse-aggregate-gae/war/WEB-INF/lib/appengine-endpoints.jar
eclipse-aggregate-gae/war/WEB-INF/lib/appengine-jsr107cache-1.9.30.jar
eclipse-aggregate-gae/war/WEB-INF/lib/datanucleus-appengine-1.0.10.final.jar
eclipse-aggregate-gae/war/WEB-INF/lib/datanucleus-core-1.1.5.jar
eclipse-aggregate-gae/war/WEB-INF/lib/datanucleus-jpa-1.1.5.jar
eclipse-aggregate-gae/war/WEB-INF/lib/geronimo-jpa_3.0_spec-1.1.1.jar
eclipse-aggregate-gae/war/WEB-INF/lib/geronimo-jta_1.1_spec-1.1.1.jar
eclipse-aggregate-gae/war/WEB-INF/lib/gwt-servlet.jar
eclipse-aggregate-gae/war/WEB-INF/lib/jsr107cache-1.1.jar
eclipse-aggregate-gae/war/WEB-INF/lib/odk-gae-settings-latest.jar
