#Uncomment the line that corresponds to your computer's operating system
#packerZip=https://releases.hashicorp.com/packer/1.2.1/packer_1.2.1_linux_amd64.zip
#packerZip=https://releases.hashicorp.com/packer/1.2.1/packer_1.2.1_windows_amd64.zip
#packerZip=https://releases.hashicorp.com/packer/1.2.1/packer_1.2.1_darwin_amd64.zip
