body, table td, select {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
}
body {
  color: black;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background: white;
  direction: ltr;
}
.embedded_iframe {
	margin: 2px;
	border: 0px;
	padding: 2px;
}
.embedded_iframe ul,ol li {
	indent: 10px;
}

a, a:visited, a:hover {
  color: #0000AA;
}
.gwt-PopupPanel {
	padding: 3px;
	border: 2px solid #777984;
	background: url("images/mostly_opaque.png");
}
#filters_data,
#form_and_goals_panel {
	border-collapse: collapse;
}
#submission_container,
#filters_container,
#help_container {
	overflow: scroll;
}
.error_message {
	color: red;
	border: 2px solid red;
}
.help_panel {
	width: 100%;
}
.help_panel td {
	border: 1px solid #07115A;
	width: 100%;
	padding: 2px 4px 2px 4px;
}
#chart_image,
#map_area {
	width: 600px;
	height: 500px;
}
#login_logout_link {
	position: absolute;
	top: 8px;
	left: 800px;
	margin: 0px;
	padding: 0px;
	width: 200px;
	text-align: right;
}
