body, table td, select {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
}
body {
  color: black;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background: white;
  direction: ltr;
}
a, a:visited, a:hover {
  color: #0000AA;
}
.gwt-PopupPanel {
	padding: 3px;
	border: 2px solid #777984;
	background: url("images/mostly_opaque.png");
}
#filters_data,
#form_and_goals_panel {
	border-collapse: collapse;
}
#submission_container,
#filters_container,
#help_container {
	overflow: scroll;
}
.help_panel {
	width: 100%;
}
.help_panel td {
	border: 1px solid #07115A;
	width: 100%;
	padding: 2px 4px 2px 4px;
}
#chart_image {
	width: 600px;
	height: 500px;
}
#map_area {
	width: 800px;
	height: 600px;
}