body, table td, select {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
}
body {
  color: black;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background: white;
  direction: ltr;
}
a, a:visited, a:hover {
  color: #0000AA;
}
.gwt-DecoratedTabBar {
}
.gwt-DecoratedTabBar .gwt-TabBarRest {
}
.gwt-DecoratedTabBar .gwt-TabBarItem {
  border-collapse: collapse;
}
.gwt-DecoratedTabBar .tabTopCenter {
  padding: 0px;
  background: #777984;
}
.gwt-DecoratedTabBar .tabTopLeft,
.gwt-DecoratedTabBar .tabTopRight {
  padding: 0px;
  zoom: 1;
}
.gwt-DecoratedTabBar .tabTopLeftInner,
.gwt-DecoratedTabBar .tabTopRightInner {
  width: 4px;
  height: 6px;
}
.gwt-DecoratedTabBar .first_tab .tabTopLeftInner,
.gwt-DecoratedTabBar .last_tab .tabTopRightInner {
	width: 8px;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-wrapper .tabTopLeft,
.gwt-DecoratedTabBar .gwt-TabBarItem-wrapper .tabMiddleLeft {
	background: url("images/tabEdgeDefault.png") repeat-y 0px 0px;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-wrapper-selected .tabTopLeft,
.gwt-DecoratedTabBar .gwt-TabBarItem-wrapper-selected .tabMiddleLeft {
	background: url("images/tabEdgeSelected.png") repeat-y 0px 0px;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-wrapper .first_tab .tabTopLeft {
	background: url("images/tabCorners.png") no-repeat -16px 0px;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-wrapper .last_tab .tabTopRight {
	background: url("images/tabCorners.png") no-repeat -24px 0px;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-wrapper-selected .first_tab .tabTopLeft {
	background-position: 0px 0px;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-wrapper-selected .last_tab .tabTopRight {
	background-position: -8px 0px;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-wrapper-selected .first_tab .tabTopLeft {
	background-position: 0px 0px;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-wrapper .first_tab .tabMiddleLeft {
	background: #777984;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-wrapper-selected .first_tab .tabMiddleLeft {
	background: #07115A;
}
.gwt-DecoratedTabBar .tabTopRight,
.gwt-DecoratedTabBar .tabMiddleRight {
	background: #777984;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-wrapper-selected .tabTopRight,
.gwt-DecoratedTabBar .gwt-TabBarItem-wrapper-selected .tabMiddleRight {
	background: #07115A;
}
* html .gwt-DecoratedTabBar .tabTopLeftInner,
* html .gwt-DecoratedTabBar .tabTopRightInner {
  width: 8px;
  height: 6px;
  overflow: hidden;
}
.gwt-DecoratedTabBar .tabMiddleLeft,
.gwt-DecoratedTabBar .tabMiddleRight {
  width: 6px;
  padding: 0px;
  background: #777984;
}
.gwt-DecoratedTabBar .tabMiddleLeftInner,
.gwt-DecoratedTabBar .tabMiddleRightInner {
  width: 1px;
  height: 1px;
}
.gwt-DecoratedTabBar .tabMiddleCenter {
  padding: 0px 4px 2px 4px;
  cursor: pointer;
  cursor: hand;
  color: #dfdfdf;
  font-weight: bold;
  text-align: center;
  background: #777984;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopCenter {
  background: #07115A;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleCenter {
  cursor: default;
  background: #07115A;
  color: #a1abff;
}
.gwt-TabPanelBottom {
  border-color: #07115A;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  overflow: hidden;
  padding: 6px;
}
.title_bar td {
	padding-left: 6px;
	padding-right: 6px;
	text-align: center;
	background-color: #ffcd8c;
	font-weight: bold;
}
.even_table_row td {
	background-color: #ffeed8;
}
.mainNav {
	position: relative;
	top: -20px;
}
#filters_data_help {
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #ffcd8c;
}
#filters_data_help,
#form_and_goals_panel {
	border-collapse: collapse;
}
#odk_aggregate_logo {
	position: relative;
	left: 13px;
	top: 8px;
}
#form_management_table,
#data_table {
	border-collapse: collapse;
	border-width: 1px;
	border-style: solid;
	border-color: #ffcd8c;
}
#form_management_table td,
#data_table td {
	border-left-style: solid;
	border-right-style: solid;
	border-left-width: 1px;
	border-right-width: 1px;
	border-left-color: #ffcd8c;
	border-right-color: #ffcd8c;
}
