<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>default</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:odk-settings.xml,/WEB-INF/applicationContext-security.xml</param-value>
    </context-param>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>TaskQueue Interfaces</web-resource-name>
            <url-pattern>/gae/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>RemoteControl Interfaces</web-resource-name>
            <url-pattern>/remote_api</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>admin</role-name>
    </security-role>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>serverSpringSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>serverSpringSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>GaeAwareContentEncodingRequestFilter</filter-name>
        <filter-class>org.opendatakit.aggregate.odktables.impl.api.wink.GaeAwareContentEncodingRequestFilter
        </filter-class>
    </filter>

    <filter-mapping>
        <filter-name>GaeAwareContentEncodingRequestFilter</filter-name>
        <url-pattern>/odktables/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>GaeAwareContentEncodingResponseFilter</filter-name>
        <filter-class>org.opendatakit.aggregate.odktables.impl.api.wink.GaeAwareContentEncodingResponseFilter
        </filter-class>
    </filter>

    <filter-mapping>
        <filter-name>GaeAwareContentEncodingResponseFilter</filter-name>
        <url-pattern>/odktables/*</url-pattern>
    </filter-mapping>

    <!-- Simple Servlets -->
    <servlet>
        <servlet-name>filterServiceImpl</servlet-name>
        <servlet-class>org.opendatakit.aggregate.server.FilterServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>filterServiceImpl</servlet-name>
        <url-pattern>/aggregateui/filterservice</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>formAdminServiceImpl</servlet-name>
        <servlet-class>org.opendatakit.aggregate.server.FormAdminServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>formAdminServiceImpl</servlet-name>
        <url-pattern>/aggregateui/formadminservice</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>formServiceImpl</servlet-name>
        <servlet-class>org.opendatakit.aggregate.server.FormServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>formServiceImpl</servlet-name>
        <url-pattern>/aggregateui/formservice</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>preferenceServiceImpl</servlet-name>
        <servlet-class>org.opendatakit.aggregate.server.PreferenceServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>preferenceServiceImpl</servlet-name>
        <url-pattern>/aggregateui/preferenceservice</url-pattern>
    </servlet-mapping>

    <!--  odk tables servlets -->
    <servlet>
        <servlet-name>odkTablesAdminServiceImpl</servlet-name>
        <servlet-class>org.opendatakit.aggregate.server.OdkTablesAdminServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>odkTablesAdminServiceImpl</servlet-name>
        <url-pattern>/aggregateui/odktablesadmin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>serverDataServiceImpl</servlet-name>
        <servlet-class>org.opendatakit.aggregate.server.ServerDataServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>serverDataServiceImpl</servlet-name>
        <url-pattern>/aggregateui/serverdataservice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>serverDiffServiceImpl</servlet-name>
        <servlet-class>org.opendatakit.aggregate.server.ServerDiffServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>serverDiffServiceImpl</servlet-name>
        <url-pattern>/aggregateui/serverdiffservice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>serverTableACLServiceImpl</servlet-name>
        <servlet-class>org.opendatakit.aggregate.server.ServerTableACLServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>serverTableACLServiceImpl</servlet-name>
        <url-pattern>/aggregateui/servertableaclservice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>serverTableServiceImpl</servlet-name>
        <servlet-class>org.opendatakit.aggregate.server.ServerTableServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>serverTableServiceImpl</servlet-name>
        <url-pattern>/aggregateui/servertableservice</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>securityAdminServiceImpl</servlet-name>
        <servlet-class>org.opendatakit.common.security.server.SecurityAdminServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>securityAdminServiceImpl</servlet-name>
        <url-pattern>/aggregateui/securityadminservice</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>securityServiceImpl</servlet-name>
        <servlet-class>org.opendatakit.common.security.server.SecurityServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>securityServiceImpl</servlet-name>
        <url-pattern>/aggregateui/securityservice</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>servicesAdminServiceImpl</servlet-name>
        <servlet-class>org.opendatakit.aggregate.server.ServicesAdminServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>servicesAdminServiceImpl</servlet-name>
        <url-pattern>/aggregateui/servicesadminservice</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>submissionServiceImpl</servlet-name>
        <servlet-class>org.opendatakit.aggregate.server.SubmissionServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>submissionServiceImpl</servlet-name>
        <url-pattern>/aggregateui/submissionservice</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>aggregate-html</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.AggregateHtmlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>aggregate-html</servlet-name>
        <url-pattern>/Aggregate.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>blank</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.BlankServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>blank</servlet-name>
        <url-pattern>/www/blank</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>get-all-access</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.GetUsersAndPermissionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>get-all-access</servlet-name>
        <url-pattern>/ssl/get-users-and-permissions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>manage-all-access</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.ResetUsersAndPermissionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manage-all-access</servlet-name>
        <url-pattern>/ssl/reset-users-and-permissions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>manage-passwords</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.UserManagePasswordsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manage-passwords</servlet-name>
        <url-pattern>/ssl/user-manage-passwords</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>manage-oauth2-service-account</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.ServiceAccountPrivateKeyUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manage-oauth2-service-account</servlet-name>
        <url-pattern>/ssl/oauth2-service-account</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>manage-oauth-enketo-service-account</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.EnketoAccountPrivateKeyUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manage-oauth-enketo-service-account</servlet-name>
        <url-pattern>/ssl/enketo-service-account</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>enketoui</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.EnketoApiHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>enketoui</servlet-name>
        <url-pattern>/enk/enketoApiHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>submission</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.SubmissionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>submission</servlet-name>
        <url-pattern>/submission</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.FormUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/formUpload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>formXml</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.FormXmlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>formXml</servlet-name>
        <url-pattern>/formXml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>formXml</servlet-name>
        <url-pattern>/www/formXml</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>formList</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.FormListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>formList</servlet-name>
        <url-pattern>/formList</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>xformsList</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.XFormsListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xformsList</servlet-name>
        <url-pattern>/xformsList</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>xformsManifest</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.XFormsManifestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xformsManifest</servlet-name>
        <url-pattern>/xformsManifest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>xformsDownload</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.XFormsDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xformsDownload</servlet-name>
        <url-pattern>/xformsDownload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>binaryData</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.BinaryDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>binaryData</servlet-name>
        <url-pattern>/view/binaryData</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>formMultipleValue</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.FormMultipleValueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>formMultipleValue</servlet-name>
        <url-pattern>/view/formMultipleValue</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>csvFragment</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.FragmentedCsvServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>csvFragment</servlet-name>
        <url-pattern>/view/csvFragment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>downloadSubmissionList</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.SubmissionDownloadListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>downloadSubmissionList</servlet-name>
        <url-pattern>/view/submissionList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>downloadSubmission</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.SubmissionDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>downloadSubmission</servlet-name>
        <url-pattern>/view/downloadSubmission</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>worksheet</servlet-name>
		<servlet-class>org.opendatakit.aggregate.task.gae.servlet.WorksheetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>worksheet</servlet-name>
		<url-pattern>/gae/worksheetCreatorTask</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>kmlGeneratorTask</servlet-name>
		<servlet-class>org.opendatakit.aggregate.task.gae.servlet.KmlGeneratorTaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>kmlGeneratorTask</servlet-name>
		<url-pattern>/gae/kmlGeneratorTask</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>csvGeneratorTask</servlet-name>
		<servlet-class>org.opendatakit.aggregate.task.gae.servlet.CsvGeneratorTaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>csvGeneratorTask</servlet-name>
		<url-pattern>/gae/csvGeneratorTask</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JsonFileGeneratorTask</servlet-name>
		<servlet-class>org.opendatakit.aggregate.task.gae.servlet.JsonGeneratorTaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JsonFileGeneratorTask</servlet-name>
		<url-pattern>/gae/jsonFileGeneratorTask</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>uploadSubmissionsTask</servlet-name>
		<servlet-class>org.opendatakit.aggregate.task.gae.servlet.UploadSubmissionsTaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadSubmissionsTask</servlet-name>
		<url-pattern>/gae/uploadSubmissionsTask</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>formDeleteTask</servlet-name>
		<servlet-class>org.opendatakit.aggregate.task.gae.servlet.FormDeleteTaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>formDeleteTask</servlet-name>
		<url-pattern>/gae/formDeleteTask</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>purgeOlderSubmissionsTask</servlet-name>
        <servlet-class>org.opendatakit.aggregate.task.gae.servlet.PurgeOlderSubmissionsTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>purgeOlderSubmissionsTask</servlet-name>
        <url-pattern>/gae/purgeOlderSubmissionsTask</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>watchdog</servlet-name>
		<servlet-class>org.opendatakit.aggregate.task.gae.servlet.WatchdogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>watchdog</servlet-name>
		<url-pattern>/gae/watchdog</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>clearSessionAndLoginPage</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.ClearSessionThenLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clearSessionAndLoginPage</servlet-name>
        <url-pattern>/relogin.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>localLoginPage</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.LocalLoginPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>localLoginPage</servlet-name>
        <url-pattern>/local_login.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>multimodeLoginPage</servlet-name>
        <servlet-class>org.opendatakit.aggregate.servlet.MultimodeLoginPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>multimodeLoginPage</servlet-name>
        <url-pattern>/multimode_login.html</url-pattern>
    </servlet-mapping>

    <!-- servlet for odktables api -->
    <servlet>
        <servlet-name>ODKTables</servlet-name>
        <servlet-class>org.apache.wink.server.internal.servlet.RestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.opendatakit.aggregate.odktables.impl.api.ODKTablesAPIApplication</param-value>
        </init-param>
        <init-param>
            <param-name>propertiesLocation</param-name>
            <param-value>security.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ODKTables</servlet-name>
        <url-pattern>/odktables/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>odktablesRest</servlet-name>
        <servlet-class>org.apache.wink.server.internal.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>odktablesRest</servlet-name>
        <url-pattern>/view/odktablesRest</url-pattern>
    </servlet-mapping>

    <servlet>
    	<servlet-name>RemoteApi</servlet-name>
	    <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
	</servlet>

	<servlet-mapping>
	    <servlet-name>RemoteApi</servlet-name>
	    <url-pattern>/remote_api</url-pattern>
	</servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- keep session for 4 hours -->
    <session-config>
        <session-timeout>240</session-timeout>
    </session-config>
</web-app>